.sidebar-link {
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 20px;
  }
  .sidebar-link:hover{
    background: #edf2f7;
  }
  .active{
    background: #edf2f7;
  }
  .sidebar-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #222; /* Цвет вашей линии */
    transition: width 0.7s ease; /* Длительность анимации и функция плавности */
  }
  
  .sidebar-link:hover::after, 
  .sidebar-link:focus::after {
    width: 100%;
  }
  